export(getSymbols.Finam)
export(getSymbols.Alor)
export(getSymbols.Poloniex)
export(getSymbols.mfd)
export(getSymbols.rogov)
export(getSymbols.Forts)
export(select.hours)
export(getOptionChain.Forts)
export(tickToPeriod)
export(getAllDividends)