export(getSymbolList)
#export(getSymbols.Finam)
#export(getSymbols.Alor)
#export(getSymbols.Poloniex)
#export(getSymbols.Mfd)
#export(getSymbols.Investing)
export(getEarnings)
export(getSplits)
export(getDividends)
export(getIPO)
export(getEconomic)
export(getOptionChain.Forts)
export(select.hours)
export(tickToPeriod)
export(getInvesting_id)
export(convert.time.series)
export(getTradelog)
export(getOrderbook)
export(Connect)
export(getOrders)
export(cancelOrder)
export(Order)
export(checkConnection)
export(getBalance)
import(data.table)
import(lubridate)
import(jsonlite)
import(httr)
import(rvest)
import(RCurl)
import(XML)
