export(getSymbols.Finam)
export(getSymbols.Alor)
export(getSymbols.poloniex)
export(getSymbols.mfd)
export(getSymbols.rogov)
export(getSymbols.Forts)
export(select.hours)
export(getOptionChain.Forts)
export(getAllDividends)
export(convert.time.series)
export(getTradelog)
export(getOrderbook)
export(loadSymbolList)
export(Connect)
export(getOrders)
export(cancelOrder)
export(Order)
export(checkConnection)
export(getBalance)
export(getSplits)
export(getDividends)
export(getIPO)
export(getEconomic)
export(getEarnings)
import(data.table)
import(lubridate)
import(jsonlite)
import(httr)
import(rvest)

